
  <div class="container productosContainer">
  <h2>Numeros Random</h2>
<table class="table tableContainer  ">
  <thead>
    <tr>
      <th scope="col">Numero</th>
      <th scope="col">Veces</th>

    </tr>
  </thead>
{{#each renderArray}}

<tr>
    
      
      <td>{{@key}}</td>
      <td>{{.}}</td>
      
      
    
    
    </tr>
    {{/each}}
    
    </table>
        <a href="/">
        <p class="backLink">Volver</p>
      </a>
    </div>